body {
	/* width: 100dvw; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 0;
}

* {
	box-sizing: border-box;
}
html {
	height: 100svh;
	font-size: 16px;
}
