/* dumbass reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* this might backfire delete if neccessary */
ol,
ul {
	list-style: none;
}

body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 0;
}

* {
	box-sizing: border-box;
}
html {
	height: 100svh;
	font-size: 16px;
}
